<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="OutputFilePath" value="D:\PUB\Final\"/>

    <!--1. Schema&Data 2. OnlySchema 3. OnlyData-->
    <add key="GenerateMode" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="conn"  connectionString="Data Source=10.33.16.21\sqlexpress;Initial Catalog=crm 8.0.4;Persist Security Info=True;User ID=sa;Password=sa123"/>
  </connectionStrings>
</configuration>
